*
{
	padding:0;
	margin:0;
}
body
{
	background-image:url(b7.jpg);
	background-color:powderblue;
	background-size:100%;
	font-family:san-serief;
}
.menu-bar
{
	background-color:rgba(0,0,0,0.7);
	text-align:center;
	color:#fff;
	width:100%;
}
.menu-bar ul
{
	margin-left:40%;
	display: inline-flex;
	list-style:none;
	color:#fff;
	width:1000px;
	top:0%;
}
.menu-bar ol li h1
{
	text-align:left;
	list-style:none;
	font-size:40px;
	color:red;

}
.menu-bar ul li
{
	width:0 pz;;
	margin-left:0;
	padding:15px;
}	
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
}
.active,.menu-bar ul li:hover
{
	background-color:rgba(0,0,0,0.7);
	border-radius:3px;
}
.menu-bar, .fa
{
	margin-right:8px;
}

.sub-menu-1
{	
		width:8%;
		display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	margin-top:15px;
	margin-left:10px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin:25px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:50px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:last-child
{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{ 
	color:#b4ff00;
}
.fa-angle-right
{
	float:right;
}
.sub-menu-2
{
	display:none;
}
.hover-me:hover .sub-menu-2
{
	position:absolute;
	display:block;
	margin-top:40px;
	margin-left:140px;
	background:rgb(0,100,0);
}
.A {
	width:380px;
	height: 420px;
	background:#000;
	color:#fff;
	top:15%;
	left:10%;
	position:absolute;
	transform:translate(-50% -60%);
	box-sizing : border-box;
	padding:30px 35px;
	border-radius:5%;
	background-color: rgba(0, 0, 0, 0.6);
}
.A input[type="Number"]{
width:80%;}

.A input[type="text"]
{
	border-bottom:2px solid #fff;
}
.A input[type="button"]{
	border:none;
	outline:none;
	height:25px;
	width:40%;
	background:#fb2516;
	color:#fff;
	font-size:18px;
	border-radius:20px;
	margin-left:80px;
}

h1{
	color:red;
}

* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width:37%;
    max-height:13%;
	border:2px solid black;
	margin-top:450px;
  margin-left:80px;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#table1 {
	width:850px;
	height: 450px;
	text-align:center;
	color:white;
	top:15%;
	padding:15px;
	left:43%;
	position:absolute;
	border-radius:5%;
	background-color: rgba(0, 0, 0, 0.4);
	font-size:20px;
}
#table2 {
	width:680px;
	height: 100px;
		text-align:center;
	background-color:rgba(0,0,0,0.5);
	padding:1%;
	font-size:20px;
	border:2px solid black;
	color:white;
	top:78%;
	left:48%;
	position:absolute;
	border-radius:15%;
}




