body{
	background:url(contactusbg.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	margin:0px;
	padding:0px;

}


.header{
	
	width:100%;
	height:100px;
	background-color: rgba(70,130,180, 0.7);
}
	
.campanylogo{

		width:0;
		height:0;
		margin-left:30px;
		position:absolute;
		margin-top:1%;
	}	
	
.n b{
	position:absolute;
	width:0;
	height:0;
	margin-left:20px;
	margin-top:70px;
	font-size:18px;
	color:#fff;
	text-shadow: 1px 2px #ff0000
	}	

.search input[type="text"]{
	background:transparent;
	outline:none;
	height:29px;
	width:700px;
	color:#fff;
	font-size:19px;
	margin-left:44%;
	margin-top:19px;
	border-radius:20px;
	padding-left:20px;
	border-style:solid;
	border-color:#fff;
	position:absolute;
	}
	
.campanyname h2{
	position:absolute;
	width:400px;;
	height:50px;
	margin-left:150px;
	margin-top:20px;
	font-size:24px;
	color:#fff;
	text-shadow:2px 2px blue;

	}

.campanyname p{

	position:absolute;
	width:300px;;
	height:50px;
	margin-left:270px;
	margin-top:50px;
	color:#fff;
	font-size:20px;
	text-shadow:1px 2px #6495ed;
}	
	
.fa-search{
	position:absolute;
	top:30px;
	color:#fff;
	margin-left:95%;
	font-size:30px;
	
}

::placeholder{
	
	color:#fff;
	}	


.menu-bar
{
	margin-top:45px;
	text-align:center;
	margin-left:600px;
	position:absolute;
	height:35px;
	background-color: rgba(70,130,180, 0.5);
}	

.menu-bar ul
{
	display: inline-flex;
	list-style:none;
}

.menu-bar ul li
{
	
	margin-top:-1%;
	width:110px;
	font-size:16px;
}

.menu-bar ul li a
{
	text-align:center;
	text-decoration:none;
	color:#fff;
	

}

.active,.menu-bar ul li:hover
{
	background-color:#6495ed;
	border-radius:3px;
	height:27px;
	margin-top:5px;
}

.sub-menu-1
{
		display:none;
		
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:#46b2b4;
	margin-top:0px;
	margin-left:10px;
	background-color: rgba(70,130,180, 0.7);
	z-index:999999;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	
	margin-left:10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:250px;
	padding:10px;
	background:transparent;
	border-radius:0;
	text-align:left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{ 
	color:#b4ff00;
	
}





.heading h1{

		position:absolute;
		margin-left:250px;
		margin-top:60px;
		font-size:50px;
	
}
.logo{
		position:absolute;
		width:110px;
		height:110px;
		margin-left:100px;
		margin-top:30px;

}
.contactinfo{
		position:absolute;
		height:350px;
		width:450px;
		margin-left:40px;
		margin-top:160px;
		background-color:rgba(230,230,250, 0.3);
		box-shadow:5px 5px 10px 10px #828a8c;
		
		border-radius:10%;
}
.contactinfo p{
		position:absolute;
		margin-left:20px;
		margin-top:90px;
		font-size:20px
}
.contactinfo h3{
		position:absolute;
		margin-left:20px;
		font-size:23px;
		margin-top:40px;

}

.contactform{

		position:absolute;
		height:480px;
		width:370px;
		margin-left:920px;
		margin-top:30px;
		background-color:rgba(230,230,250, 0.3);
		box-shadow:5px 5px 10px 10px #828a8c;
		border-radius:10%;

}

.contactform p{
		margin-left:60px;
		font-size:18px;
		margin-top:20px;
		}
		
.contactform input[type="text"],[type="Number"],[type="email"]{
			
			margin-left:60px;
			font-size:18px;
			width:250px;
			border:none;
			border-bottom:2px solid;
			background:transparent;
			outline:none;
	}
	
select{
		margin-left:60px;
		font-size:18px;
}
textarea{
			margin-left:60px;
			font-size:18px;
}
::placeholder{
	
	color:grey;
}
.contactform input[type="submit"]{
		
		margin-left:130px;
		font-size:16px;
		background:lightskyblue;
		color:#000;
		border:none;
		outline:none;
		height:30px;
		width:100px;
		margin-top:10px;
		border-radius:10px;
}
.contactform input[type="submit"]:hover{
	cursor:pointer;
	background:red;
	color:#000;
	}

.f{
	position:absolute;
	background-color: #292c2f;
	
	width:100%;
	height:200px;
	margin-top:650px;
	
}

.f p{
	width:750px;
	text-shadow: 0px 0px;
	margin-top:160px;
	margin-left:470px;
	font-size:15px;
	color:#fff;
}
.detail p{
	position:absolute;
	text-shadow: 0px 0px;
	margin-top:700px;
	margin-left:100px;
	color:#fff;
	font-size:20px;
}
.detail a{
	color:red;
}
