body{ 	
	background:url(reg.jpg);
	background-repeat:no-repeat;
	<!--background-size:cover;-->
	background-position:center;
	font-family:san-serif;
	background-size: 100%;
	margin:0px;
	padding:0px;
	}
	
.A {
	width:370px;
	height: 630px;
	background:#000;
	color:#fff;
	top:3%;
	left:65%;
	position:absolute;
	transform:translate(-50% -60%);
	box-sizing : border-box;
	padding:3px 35px;
	border-radius:5%;
	background-color: rgba(0, 0, 0, 0.3);
	}
.A input{
	width:100%;
	margin-left:0px;
	margin-bottom:0px;
	}
.A input[type="submit"]{
	border:none;
	outline:none;
	height:30px;
	width:70%;
	background:#00bfff;
	color:#fff;
	font-size:18px;
	border-radius:20px;
	margin-left:50px;
}
.A input[type="submit"]:hover{
	cursor:pointer;
	background:#0000b0;
	color:#000;
}
.A input[type="text"],[type="Number"],[type="password"]{
	border:none;
	border-bottom:2px solid #fff;
	background:transparent;
	outline:none;
	height:20px;
	color:#fff;
	font-size:16px;
	
}
h1{
	color:#dc143c;
}

.f{
	position:absolute;
	background-color: #292c2f;
	
	width:100%;
	height:200px;
	margin-top:680px;
	
}

.f p{
	width:750px;
	text-shadow: 0px 0px;
	margin-top:160px;
	margin-left:470px;
	font-size:15px;
	color:#fff;
}
.detail p{
	position:absolute;
	text-shadow: 0px 0px;
	margin-top:700px;
	margin-left:100px;
	color:#fff;
	font-size:20px;
}
.detail a{
	color:red;
}
