*
{
	padding: 0;
	margin: 0;
}
body{

margin:1;
padding:0;
background-color:black;
background-size:100%;
background-position:center;
font-family:sans-serif;
min-height: 40em;

}

.campanylogo{

width:0;
height:0;
margin-left:30px;
margin-top:1%;


}

.n b{
position:absolute;
width:0;
height:0;
margin-left:25px;
margin-top:80px;
color:#fff;
text-shadow: 1px 2px orange;
}

.search input[type="text"]{
background:transparent;
height:30px;
width:700px;
color:#fff;
font-size:16px;
margin-left:45%;
margin-top:1%;
border-radius:20px;
padding-left:20px;
border-style:solid;
border-color:#fff;
}



p{

position:absolute;
width:300px;;
height:50px;
margin-left:25px;
margin-top:100px;
color:#fff;
font-size:20px;
text-shadow:1px 2px orange;
}

.fa-search{
position:absolute;
top:33px;
color:#fff;
margin-left:95%;
font-size:21px;

}
 
::placeholder{

color:#fff;
}

.menu-bar
{
margin-top:1%;
text-align:center;
margin-left:580px;
width:61%;
height:55px;
background-color:rgb(255,140,0);
opacity:0.7;

}

.menu-bar ul
{
display: inline-flex;
list-style:none;
}

.menu-bar ul li
{
width:110px;
padding:5px;
}

.menu-bar ul li a
{
text-decoration:none;
color:#fff;


}

.active,.menu-bar ul li:hover
{
background-color:rgb(255,140,0);
border-radius:3px;
height:15px;
margin-top:5px;

}

.sub-menu-1
{
display:none;

}

.menu-bar ul li:hover .sub-menu-1
{
display:block;
position:absolute;
margin-top:3px;
margin-left:10px;
background-color:rgb(255,140,0);

}

.menu-bar ul li:hover .sub-menu-1 ul
{
display:block;
margin-left:10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
width:200px;
padding:10px;
background:transparent;
border-radius:0;
text-align:left;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
color:black;
}


.name{
	position:absolute;

	
    color:rgb(255,140,0);
	left:0;

name{
	position:absolute;
	left:7%;
	top:9%;
    color:rgb(255,140,0);
	
}
.name h1{
	color:rgb(255,140,0);
	font-family:sans-serif;
	font-size:200%;
	padding:1px;
	top:5%;
	margin-top: 40px;
	text-align:center;
	margin-left:7%;
	/*text-decoration:underline;*/
	

}

}

h1{
	text-align:left;
	color:rgb(255,140,0);
	margin:30px 0 50px;
	font-family:sans-serif;;
	font-size:200%;
	padding:1px;
	top:5%;
	margin-top: 170px;

}
.gallery{
margin:0px 0px;
 margin-top:8%;
}
	
.gallery img{
	   width:239.3px;
	   height:250px;
	   padding:5px;
	   filter:grayscale(100%);
	   transition: ls;
	  
	   left:0%;

	   
}
.gallery img:hover{
	filter:grayscale(0);
	transform:scale(1.1);
}


footer {

	position:relative;
  text-align: center;
  padding: 3px;
  background-color:rgb(255,140,0);
  color: white;
  margin-top:18%;
 
  opacity:0.7;

	 
	  
}
.footer pre{
	float:right;
	text-align:right;
}