body
{
      background: gray;
    
}
header{
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    background: maroon;
   color: #fff;
    font-style: normal;
}
p{
    font-size: 34px;
    font: arial;
}
main{
    margin-left: 10%;
}
.back{
      background: gray;
}
.box{
    display: block;
    float: left;
   width: 20%;
    padding: 20px;
    padding-left: 12px;   
}
img{
    border-radius: 5px;
  width: 100%;
}
